@import '../constants';
@import '../components';

.Person {

  header {
    text-align: center;
    position: relative;
    height: 230px;
    border-bottom: 5px solid $divider-color;
    background: $text-primary-color;
    margin-bottom: 80px;

    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
    }
  }

  main {
    @extend %container;

    nav {
      @extend %info-detail-box;
    }

    section {
      @extend %info-detail-box;
    }
  }
}


.profile-image-wrap {

  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;

  img {
    width: 100%;
  }

}

.posthumous {
  background: red;
}
